// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: #EFF5F5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #EFF5F5;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.ml13 {
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 600;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}
