// Import page-specific CSS files here.
@import "about";
@import "articles";
@import "home";
@import "dashboard";
@import "calculator";
@import "converted";

.btn-form {
  color: rgb(231, 226, 210);
  padding: 6px 24px;
  font-size: 16px;
  font-family: helvetica;
  border-radius: 24px;
  background: #070707e7;
  text-decoration: none;
  // transition: background 0.3s ease;
}

.btn-form:hover {
  opacity: 1;
  color: #ffffff;
  background: #BAD1C2;
}
