// Import page-specific CSS files here.
@import "about";
@import "articles";
@import "home";
@import "dashboard";
@import "calculator";
@import "converted";

.icon-heart {
  color: rgb(255, 54, 91);
}

.icon-heart-off:hover{
  color: rgb(255, 54, 91);
}

.icon-heart-off {
  color: rgb(0, 0, 0);
}

.bg-btn{
  background-color: #f4f4f4;
}
