<%= render 'shared/navbar' %>
<h1>Editing topic</h1>
<div class="form-comment p-4 text-center">
  <%= render "form", topic: @topic %>
  <br>
  <div>
    <%= link_to "Show this topic", @topic %> |
    <%= link_to "Back to topics", topics_path %>
  </div>
</div>
