<div class="back-articles" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/586056/pexels-photo-586056.jpeg);">
  <div class="container justify-content-center">
    <h1 class="pb-3 mb-3 ">A 4.54 billion years old tradition</h1>
    <br>
    </div>
  <div class="container about justify-content-center">
    <p>Since then, <em> Round Earth Society</em> has been challenging assumptions and pursuing truth.</p>
    <p>When the founders of <em>Round Earth Society</em> gathered in São Paulo in the spring of 2022, during Le Wagon Bootcamp, they wanted to create a website that would be indispensable for the kind of reader who was deeply engaged with the most consequential issues of the Earth. The men and women who created this website had an overarching, prophetic vision—they were fierce opponents of flat earth society—but they were also moved to overcome what they saw as the limits of denialism, believing that the free exchange of ideas across ideological lines was crucial to the great Humanity experiment. Their goal was to publish the most urgent essays, the most vital literature; they wanted to pursue truth and disrupt nonsense without regard for the number of likes.</p>
    <p>We understand these themes as timeless. The core principles of the founders are core principles for most: reason should always guide opinion; ideas have consequences, sometimes world-historical consequences; the knowledge we have about the world is partial and provisional, and subject to analysis, scrutiny, and revision.</p>
    <p>We will deal frankly with everyone, not rank ourselves with any sect of anties, but with that body of men which is in favor of the truth.</p>
  </div>
  <br>
