<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);">
  <div class="container">
    <div>
      <h1 class="" >Round Earth Society</h1>
        <p data-controller="banner" class="animejs">Challenging assumptions and pursuing truth</p>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "Believer", articles_path(believer: true), class: "btn  btn-bk" %>
    <%= link_to "Non-believer", articles_path(believer: false),  class: "btn  btn-bk" %>
    </div>
  </div>
</div>
