<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);">
  <div class="container">
    <div>
      <h1>Round Earth Society</h1>
        <p class="ml13">Advancing knowledge to improve humanity skills</p>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    </div>
    <a class="btn btn-bk fw-bold fs-5 me-2 py-2 px-4 mt-2" href="/articles">Believer -></a>
    <a class="btn btn-ghost fw-bold fs-5 me-2 py-2 px-4 mt-2" href="/articles">Non Believer -></a>
  </div>
</div>
