<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);">
  <div class="container">
    <div>
      <h1 class="banner-text-style" >Round Earth Society</h1>
        <p class="ml13">Challenging assumptions and pursuing truth</p>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    </div>
    <%= link_to "Believer", articles_path(believer: true), class: "btn btn-bk fw-bold fs-5 me-2 py-2 px-4 mt-2" %>
    <%= link_to "Non-believer", articles_path(believer: false), class: "btn btn-ghost fw-bold fs-5 me-2 py-2 px-4 mt-2" %>
  </div>
</div>
