<div class="forum bg-dark">
  <div class=" header d-flex align-items-center justify-content-between">
     <h2 class=" text-dark">RoundEarthChatroom</h2>
      <a class=" bt text-light btn btn-light bg-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">New Chat</a>
  </div>
