
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);">
  <div class="container text-center">
    <div>
      <h1 class="pb-3 mb-3">Articles List</h1>
      <br>
      <br>
    </div>
    <div class="cards">
      <% @articles.each do |article|%>
        <div class="card-trip">
          <img src="https://images.theconversation.com/files/477777/original/file-20220805-17816-qkr00w.jpeg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop" />
          <div class="card-trip-infos">
            <div>
            <h4><%= article.title %></h4>
              <p><%= article.subtitle %></p>
            </div>
              <a href="/articles/<%=article.id%>" class="btn-flat card-trip-user">READ MORE...</a>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
