<div class="back-articles" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);">
  <div class="container text-center">
    <div>
      <% if @believer %>
        <h1 class="pb-3 mb-3">Welcome believer</h1>
        <h3 class="pb-3 mb-3">The Earth is very pleased to have you as a member of our community. Here, you'll be able to access the latest news, discuss with friends and, of course, share our articles with people you know. Make yourself at home...</h3>
      <% else %>
        <h1 class="pb-3 mb-3">Welcome Non-believer</h1>
      <% end %>
      <br>
      <br>
    </div>
    <div class="cards-article">
      <% @articles.sample(4).each do |article|%>
        <div class="card-trip">
          <%= cl_image_tag article.photo.key, :width => 1920, :height => 1080, crop: :limit if article.photo.attached? %>
          <div class="card-trip-infos">
            <div>
            <h4><%= article.title %></h4>
              <p><%= article.subtitle %></p>
            </div>
              <a href="/articles/<%=article.id%>" class="btn-flat card-trip-user">Read More...</a>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
