  <%= turbo_frame_tag 'content' do %>
    <div class="container border border-white" data-dashboard-target="content">
      <p>Publisher</p>
    </div>
    <div class="container border border-white" data-dashboard-target="content">
      <p>Hello</p>
    </div>
    <div class="container border border-white" data-dashboard-target="content">
      <p>Laura</p>
    </div>
    <div class="container border border-white" data-dashboard-target="content">
      <p>Bye</p>
    </div>
  <% end %>
