  <%= turbo_frame_tag 'content' do %>
    <% @topics.each do |topic| %>
      <div class="container border border-white mt-2 py-2">
        <h2 class='text-light'><%= topic.title %></h2>
        <p><%= topic.user.nickname %> <%= link_to 'See content', topic_path(topic), class:'btn btn-ghost rounded-pill', target:'_blank' %> </p>
      </div>
    <% end %>
  <% end %>
