<%= render 'shared/navbar' %>
<div class="body2 p-5">
  <div class="about justify-content-center">
    <p class="ml13"> Congratulations! Now you are part of the oldest community of the Planet!<br>
    Seek the truth . . . Always
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </div>
  <div class="earth"></div>
    <div class="moon-hitbox">
      <div class="moon"></div>
  </div>
</div>
