<%= render 'shared/navbar' %>
<div class="bg-black py-3">
  <div class="about container justify-content-center">
    <p data-controller="banner" class="animejs"> Welcome and congratulations!! You are now part of the oldest community of the Planet! Seek the truth... Always
    </p>
  </div>
  <div class="body2">
    <div class="earth"></div>
      <div class="moon-hitbox">
        <div class="moon"></div>
    </div>
  </div>
</div>
