// Variables
$background: url('http://www.seancrater.com/codepen/banner.jpg');
$logo: url('http://www.seancrater.com/codepen/timb2.png');
$white: #ffffff;
$ghost: rgba(255,255,255,.25);
$hover: rgba(245,160,25,.8);

// Actual Banner Code
.ad {
  margin: 20px auto;
  max-width: 768px;
  background-image: $background;
  background-size: cover;
  background-position: left center;
  border: 1px solid #333;
  .container-ad {
    clear: both;
    padding: 1px 0 0 0;
    .logo {
      width: 283px;
      height: 50px;
      margin: 20px auto;
      background-image: $logo;
      background-size: cover;
      background-position: center center;
    }
    a {
      display: block;
      color: $white;
      text-decoration: none;
      }
    }
    h4 {
      background-color: $hover;
      padding: 10px 20px;
      font-size: 2.15em;
      line-height: 70px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      transition: all .15s ease;
      text-align: center;
      &:hover {
        background-color: $hover;
        transition: all .15s ease;
      }
    }
}

@media screen and (min-width: 525px) {
  .ad {
    height: 90px;
    .container {
      padding: 0 25px;
    }
    .logo {
      float: left;
    }
    h4 {
      float: right;
      background-color: $ghost;
    }
  }
}
