.card-article {
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-article > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article-text-style {
  font-size: 72px;
  font-family: Inter;
  color: rgb(231, 226, 210);
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid rgb(231, 226, 210);
}

.card-article h4 {
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 8px;
  text-align: left;
}

.card-article p {
  font-size: 13px;
  font-family: helvetica;
  opacity: .7;
  margin: 0;
  text-align: left;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.card-article .card-article-infos {
  padding: 16px 0 0 0 ;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: rgb(231, 226, 210);
}

.card-article-infos .card-article-user {
  position: absolute;
  // text-align: center;
  // right: 32%;
  top: -15px;
  // width: 100px;
}

.cards-article-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px 18px;
}

.btn-flat {
  color: rgb(231, 226, 210);
  padding: 6px 24px;
  font-size: 12px;
  font-family: helvetica;
  // border-radius: 4px;
  background: #070707e7;
  text-decoration: none;
  // transition: background 0.3s ease;
}

.btn-flat:hover {
  opacity: 1;
  color: #ffffff;
  background: #BAD1C2;
}

.back-articles {
  background-size: cover;
  background-position: center;
  padding: 104px 0;
  height: 100vh;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-article-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-article-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-article-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-article-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-article-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
