//cards fórum

.cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  height: 180px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: white;
}

.rounded-style {
  border-radius: 5px;
}

.back-topics {
  background-size: cover;
  background-position: center;
  padding: 104px 0;

}

.forum {
  font-family: 'Lato', sans-serif;
  padding-bottom: 10px;
 }

 .header {
 width: 100%;
 margin: 0 auto;
 background: white;
 padding: 10px 30px 10px 30px;
 }

.header-2 {
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px 10px 30px;
}

.topic-topic {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.topic-topic-1 {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: small;
}

.notification {
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards{
    grid-template-columns: 1fr;
  }
}
