.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #1EDD88;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: #EAEAEA;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

.form-comment {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  width: 500px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: white;
}
