// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "btn";
@import "form_legend_clear";
@import "navbar";
@import "buttons";
@import "actiontext";
@import "card_articles";
@import 'cards';
@import "form";
@import "text";

.cards-grid-test {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.card-test {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-test > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-test h2 {
  font-size: 72px;
  font-weight: bold;
  font-family: Helvetica;
  margin: 50px ;
  text-align: left;
}

.card-test p {
  font-size: 12px;
  // opacity: .7;
  margin: 50px;
}


.card-test .card-test-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-test-infos .card-test-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
