// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "btn";
@import "form_legend_clear";
@import "navbar";
@import "buttons";
@import "actiontext";
@import "card_articles";
@import 'cards';
@import "form";
@import "text";

.article-grid {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-gap: 24px;

  .social-icons{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 1.5em;

  }
}

.article-image > img {
  height: 420px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  font-size: 72px;
  // font-weight: bold;
  font-family: Inter;
  text-transform: uppercase;
  margin: 56px ;
  text-align: left;
}

.article-text {
  font-family: Inter;
  text-align: justify;
}
