.article-subtitle-style {
  // font-size: 18px;
  // font-weight: lighter;
  // margin: 0;
  // margin-top: 12px;
  // margin-bottom: 8px;
  // text-align: left;
  color: rgb(231, 226, 210);
}

.article-user {
  text-align: left;
  margin: 0 0 0 56px;
}
